.rightSection{
    display: none !important;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.leftSection{
    max-width: 100% !important;
}

@media screen and (min-width: 40em) {
    .rightSection{
        max-width: 38%;
        display: block !important;
    }

    .leftSection{
        max-width: 62% !important;
        margin-left: 38%;
    }
}

@media screen and (min-width: 100em) {
    .rightSection{
        max-width: 30%;
        display: block !important;
    }

    .leftSection{
        max-width: 70% !important;
        margin-left: 30%;
    }
}
